.circularlinks {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px #4d84e2;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.circularlinks:hover {
  color: #fff;
  border-color: #fff;
  background-color: #fff;
}
