.eye1{
	position: absolute;
	bottom: 8px;
	left: 330px;
	transform: translate(0,-50%);
	cursor: pointer;
	color: #3498db;
}
.eye2{
	position: absolute;
	bottom: 8px;
	left: 330px;
	transform: translate(0,-50%);
	cursor: pointer;
	color: #3498db;
}
